<div class="page-width">
    <div class="services portfolio-content">
        <p class="portfolio-page-title">
            Services
        </p>
        {% if section.settings.heading != blank %}
            <h2 class="portfolio-heading">
                {{ section.settings.heading }}
            </h2>
        {% endif %}
        <div class="services-list">
            {% for block in section.blocks %}
                <div class="service-item">
                    <div class="service-image">
                        {{ block.settings.image | img_url: '64x' | img_tag }}
                    </div>
                    <h2 class="service-heading">
                        {{ block.settings.heading }}
                    </h2>
                    <div class="service-description">
                        {{ block.settings.description }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Services",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "MY SERVICES"
            }
        ],
        "blocks": [
            {
                "type": "service",
                "name": "Service",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Services"
            }
        ]
    }
{% endschema %}