body::before {
    content: "";
    position: fixed;
    background: #040404 url("bg.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}

.banner {
    min-height: 100vh!important;
}

sticky-header {
    background-color: transparent !important;
}

@media (min-width: 768px) {
    .template--index .section-header {
        display: none;
    }
}

.banner__text {
    font-size: 24px;
    font-weight: 500;
}

@media (max-width: 749px) {
    .banner__text {
        font-size: 20px;
        letter-spacing: 0px;
    }
}

.banner__box {
    max-width: 95rem !important;
}

.banner__box strong {
    color: #fff;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
}

.list-social__item .icon {
    width: 16px;
    height: 16px;
    fill: #fff;
}

.list-social__item {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.3s;
    box-shadow: 5px 5px 10px rgb(255 255 255 / 10%);
    cursor: pointer;
    margin-left: 20px;
}

.list-social__item:first-of-type {
    margin-left: 0;
}

.list-social__item:hover {
    background: #18d26e;
    box-shadow: 5px 5px 10px rgb(24 210 110 / 50%);
}

.list-social {
    display: flex;
}

.banner__social-link {
    margin-top: 30px !important;
}

.banner__menu {
    display: flex;
    align-items: center;
}

.banner__menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    margin-left: 30px;
}

.banner__menu-item:first-of-type {
    margin-left: 0;
}

.banner__menu-item.active, .banner__menu-item:hover {
    color: #fff;
}

.banner__menu-item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #18d26e;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.banner__menu-item.active::before, .banner__menu-item:hover::before {
    visibility: visible;
    width: 25px;
}

.section-header {
    position: fixed !important;
    width: 100%;
}

@media (max-width: 749px) {
    header-drawer {
        justify-self: end !important;
        grid-area: icons !important;
    }
    .header__icon--summary {
        color: #fff;
    }

    .menu-open .header {
        background: rgba(0, 0, 0, 0.9);
    }

    #menu-drawer {
        width: 100%;
        border: none;
        background: rgba(0, 0, 0, 0.9);
    }

    .menu-drawer__navigation {
        padding: 10px 0 !important;
        overflow-y: auto;
        transition: 0.3s;
        border: 2px solid rgba(255, 255, 255, 0.2);
        margin: 0 15px;
    }

    .menu-drawer__menu .list-menu__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.7);
        white-space: nowrap;
        transition: 0.3s;
        font-size: 16px;
        position: relative;
    }

    .menu-drawer__menu .list-menu__item::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color: #18d26e;
        visibility: hidden;
        width: 0px;
        transition: all 0.3s ease-in-out 0s;
    }

    .menu-drawer__menu .menu-drawer__menu-item--active {
        color: #fff;
    }

    .menu-drawer__menu .menu-drawer__menu-item--active::before {
        visibility: visible;
        width: 25px;
    }

    .js .menu-drawer__menu li {
        padding: 12px 20px;
    }
}

.list-menu__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.list-menu__item span {
    transition: 0.3s;
}

.list-menu__item::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #18d26e;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.list-menu__item[aria-current="page"] *, .list-menu__item:hover * {
    color: #fff;
    text-decoration: none !important;
}

.list-menu__item[aria-current="page"]::before, .list-menu__item:hover::before {
    visibility: visible;
    width: 25px;
}

.list-menu--inline li {
    margin-left: 30px;
}

.list-menu--inline li:first-of-type {
    margin-left: 0;
}

.header__heading-link .h2 {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

@media (min-width: 768px) {
    .header {
        background: rgba(0, 0, 0, 0.9);
        max-width: 100%;
    }
}